<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 唯一联网点:侧边栏/设置页的版本更新检查与 APK 下载(其余功能零网络) -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- app 内下载更新:调起系统安装器安装新 APK -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <!-- 聊天图片保存到相册:Android 9 及以下需要存储权限(10+ 走 MediaStore 无需) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <!-- 后台生成通知:Android 13+ 通知权限 + 前台服务(掌柜退后台继续回复时保活) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <!-- 防沉迷「屏幕时间」:列出已装 app 供分类需要全量包可见
         (自用侧载应用,不上架 Play,QUERY_ALL_PACKAGES 无商店限制)。 -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <!-- usesCleartextTraffic:更新源与 Nocturne 外置记忆均为用户自配的 http 服务,
         需允许明文流量。若后续全部迁 https,可移除此属性。 -->
    <application
        android:label="Chronos"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 后台生成前台服务:掌柜回复时保活进程(Android 14 dataSync 类型) -->
        <service
            android:name=".ChatForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync"/>
        <!-- 更新下载:暴露 APK 所在目录给系统安装器 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
